<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>FFX|V照片墙</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js">
    </script>
    <script src="https://cdn.staticfile.org/todc-bootstrap/3.3.7-3.3.7/js/bootstrap.min.js"></script>
    <script src="https://vuejs.org/js/vue.js">
    </script>
    <script language="JavaScript" src="index.js">
    </script>
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/todc-bootstrap/3.3.7-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12 trans">
                <div id="logo">FFX|V照片墙</div>
                <div class="input_group">
                    <div class="form-inline">
                        <input accept-charset="utf-8" name="chr_name" class="form-control" placeholder="请输入角色名字" type="text" id="chr_name" />
                        <div class="button btn-primary" id="btn_submit">查&nbsp;&nbsp;&nbsp;询</div>
                    </div>
                </div>
                <div class="nav_btn" data-toggle="collapse" data-target="#server-select">服务器</div>
                <div class="collapse" id="server-select">
                    <ul class="nav" style="clear:both">
                        <li><a href="#">紫水栈桥</a></li>
                        <li><a href="#">幻影群岛</a></li>
                        <li><a href="#">拉诺西亚</a></li>
                        <li><a href="#">静语庄园</a></li>
                        <li><a href="#">神意之地</a></li>
                        <li><a href="#">摩杜纳</a></li>
                        <li><a href="#">萌芽池</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="content_wrapper">
            <div id="start_wrapper"></div>
        </div>
    </div>
</body>

<footer>
    <p>Presented by: 黑魔导师库兰 & 生姜鱼饼猫球 <a data-toggle="modal" data-target="#notice" href="#">网站声明</a></p>
    <p>最终幻想14 FinalFantasyX|V</p>
    <p>摩杜纳 绯红骑鸟团《绘海》欢迎萌新萌旧加入哦~</p>
    <p><a href="http://viktorlab.net/ffwall/712">娜娜女装</a>真可爱！
    </p>
</footer>

<div class="modal fade" id="notice" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="background: rgba(255, 255, 255, 0.8);margin-top:100px;">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h3>声明</h3>
        </div>
        <div class="modal-body">
            <div>
                <p>1. 目前手机访问调整中</p>
                <p>2. 本站不存放任何图片，不支持上传功能，有需要的玩家请自行到<a href="http://act.ff.sdo.com/20170824UploadImg/index.html">官方活动页</a>参加活动.</p>
                <p>3. 本站所有图片引自官方活动页，仅为方便光之战士们找到自己和亲友，任何图片的版权都属于相应的上传玩家，请勿二次利用，严禁商用.</p>
                <p>4. 用户在官方活动页面发表的图片仅代表个人观点，与本网站无关. </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var chr_id = <%=id || 0 %>;
</script>

</html>