<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>FFX|V照片墙</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js">
    </script>
    <script src="https://cdn.staticfile.org/todc-bootstrap/3.3.7-3.3.7/js/bootstrap.min.js"></script>
    <script src="https://vuejs.org/js/vue.js">
    </script>
    <script language="JavaScript" src="index.js">
    </script>
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/todc-bootstrap/3.3.7-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="logo" class="col-md-3 col-xs-7 col-sm-3 col-lg-2">
                <p><a style="text-decoration: none; color: #ddd" href="/">FFX|V照片墙</a></p>
            </div>
            <!-- <div id="server_btn" class="btn-group col-lg-1 col-md-2 col-xs-3 col-xs-offset-2 col-sm-offset-0  col-sm-2 ">
                <div class="nav_btn" data-toggle="collapse" data-target="#server_list">服务器</div>
            </div> -->
            <div class="clearfix visible-xs"></div>
            <div id="search_group" class="col-lg-3 col-md-5 col-xs-12 col-sm-6">
                <div class="row">
                    <input accept-charset="utf-8" name="chr_name" class="form-control col-md-9 col-xs-11" placeholder="请输入角色名字" type="text" id="chr_name" />
                    <div class="button btn-primary col-md-2 col-xs-1" id="btn_submit">查&nbsp;询</div>
                </div>
            </div>
        </div>

        <div id="server_wrapper">
            <ul class="nav collapse col-lg-1 col-md-2 col-xs-4 col-xs-offset-8 col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-sm-2" id="server_list" style="clear:both">
                <li><a href="#">紫水栈桥</a></li>
                <li><a href="#">幻影群岛</a></li>
                <li><a href="#">拉诺西亚</a></li>
                <li><a href="#">静语庄园</a></li>
                <li><a href="#">神意之地</a></li>
                <li><a href="#">摩杜纳</a></li>
                <li><a href="#">萌芽池</a></li>
            </ul>
        </div>

        <div id="content_wrapper" class="clearfix">
            <div id="start_wrapper" class="row"></div>
            <div id="character" class="main_wrapper row" style="display: none;">
                <div class=" left hidden-xs col-sm-3 col-md-3 col-lg-2">
                    <img v-bind:src="chr.SmallImage " class="img-responsive center-block " />
                    <div style="color: #fff;width:100%; ">
                        <h4>{{ chr.GroupName }} </h4>
                        <h4>{{ chr.RoleName }} <span id="wy_btn" data-toggle="collapse" data-target="#wy_details">伟业</span></h4>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-10 col-xs-12" style="float:right; ">
                    <div class="flow">
                        <a v-bind:href="bigimg" target="_blank"><img v-bind:src="bigimg" class="img-responsive" id="bigimg" /></a>
                    </div>
                </div>
                <template v-if="details">
                    <div id="wy_details" class="collapse left col-xs-12 col-sm-3 col-md-3 col-lg-2" style="color: #fff">
                        <h2 class="lead text-center">伟业情况: <span v-if="details.complete>0" class="btag b-success">完成</span><span v-else class="btag b-failed">未完成</span></h2>
                        <p>女王 : <span v-html="render_wy('queen')" /></p>
                        <p>夜光花 : <span v-html="render_wy('flower')" /></p>
                        <p>贝爷 : <span v-html="render_wy('behemoth')" /></p>
                        <p>血誓 : <span v-html="render_wy('ally')" /></p>
                        <p>猎鹰 : <span v-html="render_wy('bird', 5)" /> </p>
                        <p>A2s : <span v-html="render_wy('a2s', 5)" /> </p>
                        <p>A6s : <span v-html="render_wy('a6s', 5)" /> </p>
                        <p>A10s : <span v-html="render_wy('a10s', 5)" /> </p>
                        <p>奥丁装备 : <span v-html="render_wy('odin', 3)" /></p>
                        <!--   {{ details }}  -->
                    </div>
                </template>
            </div>
        </div>
    </div>


</body>

<footer>
    <p>Presented by: 黑魔导师库兰 & 生姜鱼饼猫球 <a data-toggle="modal" data-target="#notice" href="#">网站声明</a></p>
    <p>最终幻想14 FinalFantasyX|V</p>
    <p>摩杜纳 绯红骑鸟团《绘海》欢迎萌新萌旧加入哦~</p>
    <p><a href="712">娜娜女装</a>真可爱！
    </p>
</footer>

<div class="modal fade" id="notice" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="background: rgba(255, 255, 255, 0.8);margin-top:100px; ">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h3>声明</h3>
        </div>
        <div class="modal-body">
            <div>
                <p>1. 本站不存放任何图片，不支持上传功能，有需要的玩家请到<a href="http://act.ff.sdo.com/20170824UploadImg/index.html">官方活动页</a>参加活动.</p>
                <p>2. 本站所有图片引自官方活动页，仅为方便光之战士们找到自己和亲友，任何图片的版权都属于相应的上传玩家以及FF14官方，请勿二次利用或进行人身攻击，严禁商用.</p>
                <p>3. 用户在官方活动页面发表的图片仅代表个人观点，与本网站无关. </p>
                <hr>
                <h4>更新</h4>
                <p>9.6 - 可以查询截止9.3的伟业数据</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var chr_id = <%=id || 0 %>;
</script>

</html>