body {
    background: #000;
}

footer {
    color: #8D8A8A;
    text-align: center;
    font-size: 12px;
    margin: 20px 0px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    ;
}

footer p {
    margin: 5px;
}

.container-fluid {
    padding: 0px 0px;
}

img {
    padding: 0px;
    border: 0px;
    margin: 0px auto;
}

.thin {
    padding-left: 3px;
    padding-right: 3px;
}

.right-button {
    width: 120px;
    float: right;
}

#server_wrapper {
    z-index: 99999;
}

.nav li {
    clear: both;
    width: 100%;
    margin: 0px;
}

.nav {
    background-color: #B0ACAC;
    padding: 0px;
}

.nav li a {
    text-align: center;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px 0px;
}

.nav li a:hover {
    background-color: #807E7E;
}

.nav li a:active {
    background-color: #807E7E;
}

.nav_btn {
    font-size: 22px;
    float: right;
    line-height: 22px;
    cursor: pointer;
    color: white;
}

#logo {
    float: left;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    height: 60px;
    padding-right: 0px;
}

#server_btn {
    float: left;
    padding: 20px 10px 18px 10px;
}

#server_btn div {
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

#server-select {
    position: relative;
    left: 1000px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin: 60px 0px;
    background-color: rgba(11, 10, 10, 0.29);
}

#search_group {
    float: right;
    padding-top: 12px;
    font-size: 18px;
    padding-bottom: 15px;
}

.form_inline {
    float: right;
}

.button {
    padding: 0px 10px;
    text-align: center;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    border-radius: 5px;
    width: 25%;
    float: right;
    cursor: pointer;
}

#chr_name {
    width: 70%;
    float: left;
    background: rgba(255, 255, 255, 0.2);
    border: 0px;
    color: #fff;
    margin: 0 auto;
}

.trans {
    background: rgba(255, 255, 255, 0.2);
    border: 0px;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    height: 60px;
}

.row {
    width: 100%;
    margin: 0px;
}

#start_wrapper {
    width: 100%;
    background: url("start.jpg") no-repeat center;
    height: 1000px;
}

@media (max-width: 700px) {
    #start_wrapper {
        background: url("start_xs.jpg") no-repeat center;
    }
}

.main_wrapper {
    margin: 20px auto;
    width: 100%;
    padding: 0px;
}

.left {
    margin: 0px 0px 0px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px 10px;
    width: 15%;
}

.left div {
    height: 100%;
}

.flow {
    margin: 0px;
    float: right;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px 10px;
    width: 100%;
    overflow: hidden;
}

h4 {
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: center;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    padding-right: 20px;
}

#content_wrapper {
    background: url(http://static.sdg-china.com/ff14/pic/web6/images/waper_conBg.jpg) no-repeat center top;
    margin: 0px;
}